#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}
body{
    text-align: center;
}

#fact-container {
  margin-top: 20px;
  color: cornflowerblue;
}
img{
    width: 300px;
}
table{
    border-style: double;
    border-collapse: collapse;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
th, td{
    padding: 5px;
    border-style: double;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
